.app{
  width: 100lvw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  @media (max-width: 720px) {
    transform: scale(0.5);
    transform-origin: top left;
    width: max-content;
   }
  &-logo{
    justify-content: flex-start;
    align-self: center;
  }
  &-elements{
    display: grid;
    grid-template-areas: 
    "aside header"
    "aside list";
  }
}